<h1>Cargar producto</h1>
<input id="title" placeholder="Titulo"></input>
<input id="description" placeholder="Descripcion"></input>
<input id="code" placeholder="Codigo"></input>
<input id="price" placeholder="Precio"></input>
<input id="stock" placeholder="Stock"></input>
<input id="category" placeholder="Categoria"></input>
<button id="cargarButton">Cargar</button>

<h1>Productos</h1>

<div id="products">
</div>