<h1>Login<h1>

        <input id="email" placeholder="Email" />
        <input id="password" placeholder="Contraseña" />

        <p id="log"></p>


        <button onclick="login()">Login</button>
        <p><a href="/api/session/github">Usar github</a></p>