<h1>Registro<h1>

<input id="first_name" placeholder="Nombre" />
<input id="last_name" placeholder="Apellido"/>
<input id="email" placeholder="Email" />
<input id="password" placeholder="Contraseña" />
<input id="age" placeholder="Edad" />

<button onclick="register()">Registrarse</button>
